---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contact">
  <h2>Contact</h2>
  <p>Email: info@safetyassuranceglobal.example</p>
  <p>Phone: +61 0 0000 0000</p>
</BaseLayout>
